<a href="https://colab.research.google.com/github/Leenayesh/Leenayesh.github.io/blob/main/Chart2Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://pypi.org/project/world-bank-data/

The pandas way

In [1]:
import requests
import pandas as pd

In [2]:
countries=['SSF','MEA','SAS', 'EUU']

In [3]:
data=[]
for country in countries:
  url='https://api.worldbank.org/v2/country/'+country+'/indicator/SP.URB.TOTL.IN.ZS?format=json'
  json_data=requests.get(url).json()[1]
  data.append(json_data)

In [4]:
import numpy as np

In [5]:
flat_data=np.array(data).flatten()

In [ ]:
df=pd.json_normalize(flat_data)
df

    countryiso3code  date  ...  country.id       country.value
0               SSF  2020  ...          ZG  Sub-Saharan Africa
1               SSF  2019  ...          ZG  Sub-Saharan Africa
2               SSF  2018  ...          ZG  Sub-Saharan Africa
3               SSF  2017  ...          ZG  Sub-Saharan Africa
4               SSF  2016  ...          ZG  Sub-Saharan Africa
..              ...   ...  ...         ...                 ...
195             EUU  1975  ...          EU      European Union
196             EUU  1974  ...          EU      European Union
197             EUU  1973  ...          EU      European Union
198             EUU  1972  ...          EU      European Union
199             EUU  1971  ...          EU      European Union

[200 rows x 10 columns]

In [ ]:
df.to_csv('Myurbanpopulation.csv')

I then sorted the data on excel based off of country.value and created new columns with country.value as a header.