<a href="https://colab.research.google.com/github/Leenayesh/Leenayesh.github.io/blob/main/ScrapingHWupdated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
import requests

In [3]:
from bs4 import BeautifulSoup

In [4]:
import os

In [5]:
URL = "https://yougov.co.uk/ratings/food/popularity/supermarket-chains/all"

In [6]:
html = requests.get(URL)
soup = BeautifulSoup(html.content, 'html.parser')

In [8]:
soup_span = soup.find_all("span")
#soup (it's too long which is why im hashtaging it)
#soup_span (to find where our text is)

In [9]:
supermarket1 = soup_span[15].text
supermarket2 = soup_span[22].text
supermarket3 = soup_span[29].text
supermarket4 = soup_span[36].text
supermarket5 = soup_span[43].text
supermarket6 = soup_span[50].text
supermarket7 = soup_span[57].text
supermarket8 = soup_span[64].text
supermarket9 = soup_span[71].text
supermarket10 = soup_span[78].text
supermarket11 = soup_span[85].text
supermarket12 = soup_span[92].text
supermarket13 = soup_span[99].text
supermarket14 = soup_span[106].text
supermarket15 = soup_span[113].text
supermarket16 = soup_span[120].text
supermarket17 = soup_span[127].text
supermarket18 = soup_span[134].text
supermarket19 = soup_span[141].text
supermarket20 = soup_span[148].text

In [11]:
soup_1 = soup.find_all("span", class_="rankings-item-active")
#soup_1 (too long so im hashtaging)

[<span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">76%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">75%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">73%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">71%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">69%</span><i _yg-server-content-sc252="" class="icon arrow-down"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">68%</span><i _yg-server-content-sc252="" class="icon arrow-down"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">66%</span><i _yg-server-content-sc252="" class="icon arrow-down"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">66%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">64%</span><i _yg-server-content-sc252="" class="icon arrow-down"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">64%</span><i _yg-server-content-sc252="" class="icon arrow-down"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">61%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">59%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">53%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">46%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">45%</span><i _yg-server-content-sc252="" class="icon arrow-down"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">38%</span><i _yg-server-content-sc252="" class="icon arrow-down"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">37%</span><i _yg-server-content-sc252="" class="icon arrow-down"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">32%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">31%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>,
 <span _yg-server-content-sc252="" class="rankings-item-active"><span _yg-server-content-sc252="">30%</span><i _yg-server-content-sc252="" class="icon arrow-up"></i></span>]

In [12]:
popularity1 = soup_1[0].text
popularity2 = soup_1[1].text
popularity3 = soup_1[2].text
popularity4 = soup_1[3].text
popularity5 = soup_1[4].text
popularity6 = soup_1[5].text
popularity7 = soup_1[6].text
popularity8 = soup_1[7].text
popularity9 = soup_1[8].text
popularity10 = soup_1[9].text
popularity11 = soup_1[10].text
popularity12 = soup_1[11].text
popularity13 = soup_1[12].text
popularity14 = soup_1[13].text
popularity15 = soup_1[14].text
popularity16 = soup_1[15].text
popularity17 = soup_1[16].text
popularity18 = soup_1[18].text
popularity19 = soup_1[19].text

In [13]:
numpy_array =np.array([[supermarket1, popularity1], [supermarket2, popularity2], [supermarket3, popularity3], [supermarket4, popularity4], [supermarket5, popularity5], [supermarket6, popularity6], [supermarket7, popularity7], [supermarket8, popularity8], [supermarket9, popularity9], [supermarket10, popularity10], [supermarket11, popularity11], [supermarket12, popularity12]])

In [14]:
df = pd.DataFrame(numpy_array)

In [15]:
str. rstrip("%","")

'%'

In [16]:
df.head(10)

                       0    1
0                   Aldi  76%
1             M & S Food  75%
2                   Lidl  73%
3  The Co-operative Food  71%
4              Morrisons  69%
5        Sainsbury&aposs  68%
6                  Tesco  66%
7                Iceland  66%
8                   ASDA  64%
9          Tesco Express  64%

In [20]:
df['0'] = list(map(lambda x:x[:-1], df['1'].values))

KeyError: ignored

In [21]:
df.head(10)

                       0    1
0                   Aldi  76%
1             M & S Food  75%
2                   Lidl  73%
3  The Co-operative Food  71%
4              Morrisons  69%
5        Sainsbury&aposs  68%
6                  Tesco  66%
7                Iceland  66%
8                   ASDA  64%
9          Tesco Express  64%

In [ ]:
df.to_csv('my_data_scraping.csv')